@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/home/About.css">
<section class="about">

    <div class="banner">
        <p class="banner_path">Home → About →</p>
        <h1 class="banner_main_text">About.</h1>
    </div>

    <div class="content container">

        <div class="sub_title">Overview</div>
        <div class="overview">
            <img src="https://images.unsplash.com/photo-1602523598312-4f6f14a5751f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80" alt="...">
            <p>Our website provides support services in creating blogs that help content creators share and transmit positive information to people around.</p>
        </div>

        <div class="sub_title">Developer</div>
        <div class="developer">
            <img src="~/images/CE150394.png" alt="...">
            <div class="developer_name">Mr. Huynh Tan Phuc</div>
            <small class="developer_work">Software Engineering at FSOFT</small>
        </div>
    </div>

</section>