@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/home/About.css">
<section class="about">

    <div class="banner">
        <p class="banner_path">Home → About →</p>
        <h1 class="banner_main_text">About.</h1>
    </div>

    <div class="content container">

        <div class="sub_title">Overview</div>
        <div class="overview">
            <img src="https://images.unsplash.com/photo-1602523598312-4f6f14a5751f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80" alt="...">
            <p>Our website provides support services in creating blogs that help content creators share and transmit positive information to people around.</p>
        </div>

        <div class="sub_title">Developer</div>
        <div class="developer">
            <img src="https://scontent.fvca1-4.fna.fbcdn.net/v/t1.6435-9/72792578_2199856813647526_3795290328336957440_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=174925&_nc_ohc=UdaPgBw-_gwAX-PvHni&_nc_ht=scontent.fvca1-4.fna&oh=00_AT-cLe7qfY25WaHBnKfUhOi8GZujCocEN4PIw3Zq7gqErA&oe=6233AE27" alt="...">
            <div class="developer_name">Mr. Huynh Tan Phuc</div>
            <small class="developer_work">Software Engineering at FSOFT</small>
        </div>
    </div>

</section>