@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home/Index.css">

<section role="home" class="home">
    <div class="head_text">
        <p class="text_success">@TempData["RegisterMessage"]</p>
        <div class="text-uppercase">A personal <span class="text_decorator_bt">blog</span></div>
    </div>
    <div class="main_text">
        B<span class="text_decorator_transparent">loge</span>r.
    </div>
    <div class="footer_text">
        <span>I am a Blogger & Photographer</span>
        <span>Based in Philippines</span>
    </div>
</section>